body{
        padding: 0;
        margin: 0;
        outline: none;
    }
::-webkit-scrollbar {
        display: none;
    }
.im1 {
        background-image: url('../images/img1.jpg');
        height: 100%;
        opacity: 0.75;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.im2 {
        background-image: url('../images/etb.jpeg');
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.75;
    }
        .im3 {
            background-image: url('../images/img2.jpg');
            height: 100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.75;
        }
        .im4 {
            background-image: url('../images/picw.jpg');
            height: 100%;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.75;
        }

    #im1q{
        font-family:monospace;
        background-color: #FFC107;
        color: #6D4C41;
        font-size:3em;
        text-align: justify;
        padding:8px;
    }
    #im2q{
        font-family:monospace;
        background-color: #29B6F6;
        color: #455A64;
        font-size:3em;
        text-align: justify;
        padding:8px;
    }
    #im3q{
        font-family:monospace;
        background-color: #66BB6A;
        color: #fff;
        font-size:3em;
        text-align: justify;
        padding:16px;
    }

.br{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
}

.menu{
    position: fixed;
    left: 3%;
    top:3%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1F2541;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: #7C8CED;
    display: block;
    transition: 0.3s
}

.sidenav a:hover{
    color: #25FFC9;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

footer{
    font-family: monospace;
    padding: 16px;
    background-color: #1F2541;
    font-size:1.5em;
    color: #25FFC9;

}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: #25FFC9;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s;
}

.arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s;
}

.arrows path.a3 {
    animation-delay:0s;
    -webkit-animation-delay:0s;
}

.sb{
    position: fixed;
    bottom: 3%;
    left: 50%;
}
